doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Inicio
        include links.pug
    body#inicio_body 
        .container-fluid
            .row
                .col-md-12
                    #menu_ini
                        .row
                            #servidor_col.col-md-6 
                                img#servidor(src="/images/servidor.jpg" onclick="ocultarImg('cliente')")
                            #cliente_col.col-md-6
                                img#cliente(src="/images/cliente.jpg" onclick="ocultarImg('servidor')" )