<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
        include links.pug
    body#login_body
        .container-fluid
            .row
                .d-flex.justify-content-center
                    .col-md-6.text-center
                        .row
                            .d-flex.justify-content-center
                                a(href="/register")
                                    img#logo(src="/images/logo.png")
            form(action="/login", method="post")
                .row.mt-4
                    .col
                        if error == 1
                            input#username.form-control.form-control-lg.text-center(type='text' name="username" placeholder="Error!" oninput="compLog($('#username').val(), $('#password').val())")
                        else
                            input#username.form-control.form-control-lg.text-center(type='text' name="username" oninput="compLog($('#username').val(), $('#password').val())")
                    .col
                        if error == 1
                            input#password.form-control.form-control-lg.text-center(type='password' name="password" placeholder="Error!" oninput="compLog($('#username').val(), $('#password').val())")
                        else 
                            input#password.form-control.form-control-lg.text-center(type='password' name="password" oninput="compLog($('#username').val(), $('#password').val())")
                .row.mt-4
                    .text-center
                        button#entrar.btn.btn-info.btn-lg.text-dark
                            | ENTRAR AL SISTEMA

                            

        