<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
        include links.pug
    body
        .container-fluid
            .row
                .d-flex.justify-content-center
                    .col-md-6.text-center
                        #login.card.mt-5
                            .card-header.h1.bg-secondary.text-white
                                | LOGIN
                            .card-body.bg-dark.text-white
                                .row
                                    .d-flex.justify-content-center
                                        img(src="/images/logo.png" style="height:20vh; width:35vw")
                                .row.mt-4
                                    .col
                                        input#username.form-control.form-control-lg(type='text' placeholder="Username")
                                    .col
                                        input#password.form-control.form-control-lg(type='text' placeholder="Password")

                            

        