#logo {
  height: 50vh;
  width: 75vw;
}

#username,
#password {
  font-size: 7vh;
  background-color: #78a2cc;
  border: black;
  border-width: "20px";
  display: none;
  font-weight: bolder;
}

#username_reg,
#password_reg {
  font-size: 7vh;
  background-color: #f28773;
  border: black;
  border-width: "20px";
  display: none;
  font-weight: bolder;
}

#login_body {
  background-color: #232323;
}

#logo,
#user_pass,
#menu_ini {
  display: none;
}

#entrar {
  font-size: 7vh;
  font-weight: bolder;
  border: black;
  display: none;
}

#servidor,
#cliente {
  width: 49vw;
  height: 100vh;
}

#logo_ini {
    height: 25vh;
    width: 45vw;
}

#inicio_body {
  background-color: black;
}