body {
  font-family: "Courier New", Courier, monospace;
}

#logo {
  height: 50vh;
  width: 75vw;
}

#username,
#password {
  font-size: 7vh;
  background-color: #78a2cc;
  border: black;
  border-width: "20px";
  display: none;
  font-weight: bolder;
}

#cli_title,
#serv_title {
  font-size: 6vh;
}

#username_reg,
#password_reg {
  font-size: 7vh;
  background-color: #f28773;
  border: black;
  border-width: "20px";
  display: none;
  font-weight: bolder;
}

#login_body {
  background-color: #232323;
}

#logo,
#user_pass,
#menu_ini {
  display: none;
}

#entrar {
  font-size: 7vh;
  font-weight: bolder;
  border: black;
  display: none;
}

#servidor,
#cliente {
  width: 49vw;
  height: 100vh;
}

#desc_cliente {
  display: none;
}

#desc_servidor {
  display: none;
}

#logo_ini {
  height: 25vh;
  width: 45vw;
}

#secciones {
  filter: drop-shadow(0 0 0.75rem black);
  text-align: center;
  font-weight: bold;
  font-size: 4vh;
}

.informacion {
  font-size: 3.5vh;
}

.logout {
  position: absolute;
  text-align: center;
  z-index: 2;
}

#logout {
  width: 20vh;
  height: auto;
}

#botonConfiguracion {
  font-size: 4vh;
  filter: drop-shadow(0 0 0.75rem black);
}

#modalHeader {
  font-size: 5vh;
}

#modalServ {
  filter: drop-shadow(0 0 0.75rem black);
}

.infoModal {
  font-size: 3vh;
}